body{
    margin: 100px;
    background: rgb(59, 146, 245);
}
.nome input{
    height: 20px;
    width: 300px;
}

.senha input{
    height: 20px;
    width: 300px;
}

.email input{
    height: 20px;
    width: 300px;
}

svg{
    position: absolute;
    left: 282px;
    top: calc(50% - 3px);
}

form .nome{
    position: relative;
}

form .senha{
    position: relative;
}

form .email{
    position: relative;
}